.filtered {
    filter: grayscale(40%) brightness(80%);
}

.logo {
    width: 200px;
}

footer .fab {
    font-size: xx-large;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.fwh-padding {
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fwh {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fwh-50 {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fwh-75 {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fwh-text {
    height: 75vh;
    align-items: center;
    justify-content: center;
}

.fwh-content {
    max-width: 75%;
}

.section-title {
    font-family: 'Baloo Paaji 2', cursive;
    margin-top: 1.5em;
}

.section-text {
    font-family: 'Poppins', sans-serif;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.jumbotron {
    color: black;
}

footer {
    background-color: #343a40;
    color: rgb(206, 206, 206);
    padding-top: 2em;
    padding-bottom: 2em;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #343a40;
}

.nav-custom {
    color: white;
}

.table-container {
    padding-top: 2em;
}

.quote {
    padding-top: 1.5em;
}

.btn-admin {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}