# requirements.txt
# Created by: Michael Cole
# Updated by: Michael Cole
# ------------------------
# Runs during app-building process
# to ensure all required packages are
# installed.

flask==1.1.1
flake8==3.7.9
