# requirements.txt
# Created by: Michael Cole
# Updated by: Michael Cole
# ------------------------
# Runs during app-building process
# to ensure all required packages are
# installed.

flask==1.1.1
flask_sqlalchemy==2.4.1
flask_login==0.5.0
flask_wtf==0.14.3
flake8==3.7.9
psycopg2-binary==2.8.4
yagmail==0.11.224
gunicorn==20.0.4
