{% extends 'base.html' %}

{% block content %}

    <section class="container padded">
        <h1 class='section-title'>
            About Marble Racing
        </h1>

        <p class="section-text">
            In the early months of 2020, the world was stricken down by a pandemic. There was panic and fear 
            as life no longer felt the same. This panic and fear wasn't enough to satisfy the hungry pandemic as it went
            on to take away one of this country's greatest, and most popular, pastimes... sports.
        </p>

        <p class="section-text">
            But out of the ashes arose a new sport. A sport with an immunity to this pandemic's crushing ways - <strong>Marble Racing.</strong>
            Over time, Marble Racing grew and grew beyond belief as hoards of people flocked to witness this great 
            spectacle. People simply couldn't resist the swivels, the bends, the ladders, the spins, and certainly not
            the, now infamous, pinwheel. Now families across the globe gather around their smartphones to 
            cheer on their favorite racers to victory!
        </p>
       
        <p class="section-text text-center quote text-primary">
            It's anybody's race folks! <br>
            - Tanner Sheets -
        </p>

        <h1 class="section-title">
            Our Host
        </h1>

        <p class="section-text">
            Tanner Sheets comes from a long line of marble racers.
            As you are likely well aware, Marble Racing dates back to Ancient Greece but was eventually lost to the sands of time.
            In the early days, the Ancient Greeks would have colosseums packed full of marble enthusiasts cheering for their dear
            racers. In these days, Tanner's ancestor, Theagenes Sheets, was the world renowned trainer for Blue Brutus - one of the top marble racers
            in marble racing history. There is no doubt that the marble racing genes in Tanner's blood is present today as he has been
            instrumental in marble racing's recent surge in popularity.
        </p>

        <h1 class="section-title">
            Stay Tuned!
        </h1>

        <p class="section-text">
            Marble Racing has live events most nights at 8:00pm CT. Simply follow 
            <a href="https://www.instagram.com/tannersheets8/">@tannersheets8</a> on Instagram to see these races happen live!
            Also, be sure to sign-up for email alerts to be notified before race events or for any and all Marble Racing news.
        </p>

    </section>

{% endblock %}