{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% if current_user.is_authenticated %}
        {% if current_user.name %}
            <h1>Hello {{ current_user.name }}</h1>
        {% else %}
            <h1>Hello {{ current_user.username }}</h1>
        {% endif %}
    {% endif %}

    <button class="btn btn-primary" data-toggle="modal" data-target="#updateDataModal">Update Race Data</button>

    {% include 'tables.html' %}

    {% include 'form-updateDataModal.html' %}

</div>

{% endblock %}
