{% extends 'base.html' %}

{% block content %}

<section class="fwh-padding">

    <div class="container">
        {% if current_user.is_authenticated %}
            {% if current_user.name %}
                <h1>Hello {{ current_user.name }}</h1>
            {% else %}
                <h1>Hello {{ current_user.username }}</h1>
            {% endif %}
        {% endif %}

        <button class="btn btn-primary rounded-pill" data-toggle="modal" data-target="#updateDataModal">Update Race Data</button>
        <button class="btn btn-primary rounded-pill" data-toggle="modal" data-target="#sendEmailModal">Send Email Alerts</button>
        <button class="btn btn-primary rounded-pill" data-toggle="modal" data-target="#activateSeriesModal">Activate Series</button>
        <button class="btn btn-primary rounded-pill" data-toggle="modal" data-target="#toggleRacerModal">Toggle Racer</button>
        <button class="btn btn-primary rounded-pill" data-toggle="modal" data-target="#addRacerModal">Add Racer</button>

        {% include 'tables.html' %}

        {% include 'form-updateDataModal.html' %}
        {% include 'form-sendEmail.html' %}
        {% include 'form-activateSeries.html' %}
        {% include 'form-toggleRacer.html' %}
        {% include 'form-addRacer.html' %}

    </div>

</section>

{% endblock %}
