<div class="container alert alert-info text-center alert-merch">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <h4 class="alert-header">
        We have merch!
    </h4>
    <p>We've heard your cries and have given in. Head over to
        <a href="https://themarblerace2020.itemorder.com/" target="_blank">the store</a>
        to get your hands on some merch!
    </p>

    <hr>

    <p class="small"><strong>proceeds go to help families affected by covid-19</strong></p>
</div>