<div class="container alert alert-info text-center alert-merch">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <h4 class="alert-header">
        Check out our YouTube channel!
    </h4>
    <p>
        Missed any of the old races? Check out the past races on our <a href="https://www.youtube.com/channel/UCfEfflqclFs10sEEofa5-sg" target="_blank">YouTube channel</a>!
    </p>

    <hr>

    <p class="small"><strong>links to all available videos available on our <a href="/media">Media page</a></strong></p>
</div>
