<div class="jumbotron fwh-50">
    <div class="text-center">

        <h1 class="display-4">
            Sign-Up for Email Alerts!
        </h1>

        <hr class="my-4">

        <ul style="list-style-type: none;">
            <li>- Never miss a race event -</li>
            <li>- Stay up to date on the latest Marble Racing news -</li>
        </ul>

        <p class="lead">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addEmailModal">Sign me up!</button>
        </p>

    </div>

</div>

{% include 'form-addEmail.html' %}