<footer>
    <div class="container text-center">

        <div class="row text-center d-flex justify-content-center">

            <div class="col-md-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a class="nav-item nav-link nav-custom" href="/info">Site Info</a>
                </h6>
            </div>

            <div class="col-md-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a class="nav-item nav-link nav-custom" href="/admin">Admin</a>
                </h6>
            </div>

            <div class="col-md-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a class="nav-item nav-link nav-custom" href="/contact">Contact Us</a>
                </h6>
            </div>

        </div>

        <hr>

        <div class="row text-center d-flex justify-content-center">

            <div class="col-md-6">
                <h4>Marble Racing</h4>
                <p>Site created by Michael Cole</p>
            </div>

        </div>

        <div class="row text-center d-flex justify-content-center">
            <a href="https://github.com/mcole22266" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/mcole22266" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>

    </div>
</footer>