<div class="modal fade" id="manageVideoModal" tabindex="-1" role="dialog" aria-labelledby="manageVideoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Manage Videos</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-md">
                            <p>Active {{ activeVideo }}</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            {{ manageVideoForm.video.label }}
                            {{ manageVideoForm.video(class_="form-control", list="video-list", autocomplete='off') }}
                            <datalist id="video-list">
                                {% for video in videos %}
                                    <option value="{{ video }}"></option>
                                {% endfor %}
                            </datalist>
                            {% if manageVideoForm.video.errors %}
                                <div class="alert alert-danger">
                                    {{ manageVideoForm.video.errors[0] }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        {{ manageVideoForm.delete(class_='btn btn-danger rounded-pill') }}
                        {{ manageVideoForm.submit(class_='btn btn-primary rounded-pill') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
