<script>
    names = {{ names|tojson|safe }};
    wins = {{ wins|tojson|safe }};
    Chart.defaults.global.defaultFontSize = 15;

    new Chart(document.getElementById("bar-chart-horizontal"), {
        type: 'horizontalBar',
        data: {
        labels: names,
        datasets: [
            {
            label: "Number of Wins",
            backgroundColor: [
                "rgba(25, 25, 25, 0.4)",        // BJ
                "rgba(60, 50, 156, 0.4)",       // BG
                "rgba(5, 99, 10, 0.4)",         // GG
                "rgba(175, 175, 175, 0.4)",     // WL
            ],
            borderColor: [
                "rgba(25, 25, 25, 1)",          // BJ
                "rgba(60, 50, 156, 1)",         // BG
                "rgba(5, 99, 10, 1)",           // GG
                "rgba(175, 175, 175, 1)",       // WL
            ],
            borderWidth: [1, 1, 1, 1],
            hoverBackgroundColor: [
                "rgba(25, 25, 25, 0.7)",        // BJ
                "rgba(60, 50, 156, 0.7)",       // BG
                "rgba(5, 99, 10, 0.7)",         // GG
                "rgba(175, 175, 175, 0.7)",     // WL
            ],
            label: 'Wins',
            data: wins
            }
        ]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Marble Race - 2020: Marble Cup'
            },
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
