{% extends 'base.html' %}

{% block content %}

    {% if showMainAlerts %}
        {% include 'alert.html' %}
    {% endif %}

    <section class="fwh-padding standings">
        <div class="container fwh-content">

            <!-- Commented out in case it needs to be brought back -->
            <!-- <h1 class="section-title">Race Standings</h1> -->

            <canvas id="bar-chart-horizontal" width="1000" height="500"></canvas>

        </div>

        {% include 'chart-racestandings.html' %}
    </section>

    {% include 'emailalerts.html' %}

    {% include 'embedded-video.html' %}

{% endblock %}