<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: relative;">
    <a href="/" class="navbar-brand"><img class="logo" src="../static/images/logo.png" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupported">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbar">
        <div class="navbar-nav">


            {% if title=="The Marble Race" %}
                <a href="/" class="nav-item nav-link nav-custom active">Home</a>
            {% else %}
                <a href="/" class="nav-item nav-link nav-custom">Home</a>
            {% endif %}

            {% if title=="About" %}
                <a href="/about" class="nav-item nav-link nav-custom active">About</a>
            {% else %}
                <a href="/about" class="nav-item nav-link nav-custom">About</a>
            {% endif %}

            {% if title=="Data" %}
                <a href="/data" class="nav-item nav-link nav-custom active">Data</a>
            {% else %}
                <a href="/data" class="nav-item nav-link nav-custom">Data</a>
            {% endif %}

            {% if title=="Media" %}
                <a href="/media" class="nav-item nav-link nav-custom active">Media</a>
            {% else %}
                <a href="/media" class="nav-item nav-link nav-custom">Media</a>
            {% endif %}

            {% if current_user.is_authenticated %}
                {% if title=="Admin" %}
                    <a href="/admin" class="nav-item nav-link nav-custom active">Admin</a>
                {% else %}
                    <a href="/admin" class="nav-item nav-link nav-custom">Admin</a>
                {% endif %}
            {% endif %}

            {% if current_user.is_authenticated %}
                <a href="/logout" class="nav-item nav-link nav-custom">Logout</a>
            {% endif %}

        </div>
    </div>
</nav>