<table class="table table-sm table-bordered table-hover"
       data-toggle="table" data-pagination="true"
       data-search="true">

       <caption>Admin Table</caption>

       <thead class="thead-dark">
           <tr>
               <th>ID</th>
               <th>Username</th>
               <th>Name</th>
               <th>Created Date</th>
           </tr>
       </thead>
       <tbody>
           {% for admin in admins %}
                <tr>
                    <th>{{ admin.id }}</td>
                    <td>{{ admin.username }}</td>
                    <td>{{ admin.name }}</td>
                    <td>{{ admin.created_date }}</td>
                </tr>
           {% endfor %}
       </tbody>

</table>