<div class="container col-10 table-container">
    <ul class="nav nav-tabs flex-column flex-sm-row" id="tableTab" role="tablist">

        <li class="nav-item">
            <a href="#table-userfriendlyracers" id="table-userfriendlyracers-tab" data-toggle="tab"
                aria-controls="table-userfriendlyracers" aria-selected="true" class="nav-link active">
                Racers
            </a>
        </li>
        <li class="nav-item">
            <a href="#table-userfriendlyraces" id="table-userfriendlyraces-tab" data-toggle="tab"
                aria-controls="table-userfriendlyraces" aria-selected="true" class="nav-link">
                Races
            </a>
        </li>
        <li class="nav-item">
            <a href="#table-userfriendlyseries" id="table-userfriendlyseries-tab" data-toggle="tab"
                aria-controls="table-userfriendlyseries" aria-selected="true" class="nav-link">
                Series
            </a>
        </li>

        {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a href="#table-admin" id="table-admin-tab" data-toggle="tab" aria-controls="table-admin"
                aria-selected="true" class="nav-link">
                Admin (raw)
            </a>
        </li>

        <li class="nav-item">
            <a href="#table-email" id="table-email-tab" data-toggle="tab" aria-controls="table-email"
                aria-selected="true" class="nav-link">
                Email (raw)
            </a>
        </li>

        <li class="nav-item">
            <a href="#table-race" id="table-race-tab" data-toggle="tab" aria-controls="table-race" aria-selected="true"
                class="nav-link">
                Race (raw)
            </a>
        </li>

        <li class="nav-item">
            <a href="#table-racer" id="table-racer-tab" data-toggle="tab" aria-controls="table-racer"
                aria-selected="true" class="nav-link">
                Racer (raw)
            </a>
        </li>

        <li class="nav-item">
            <a href="#table-series" id="table-series-tab" data-toggle="tab" aria-controls="table-series"
                aria-selected="true" class="nav-link">
                Series (raw)
            </a>
        </li>


        <li class="nav-item">
            <a href="#table-result" id="table-result-tab" data-toggle="tab" aria-controls="table-result"
                aria-selected="true" class="nav-link">
                Result (raw)
            </a>
        </li>
        {% endif %}

    </ul>
    <div class="tab-content" id="tabContent">
        <div class="tab-pane fade show active" id="table-userfriendlyracers"
            aria-labelledby="table-userfriendlyracers-tab">
            {% include 'table-userFriendlyRacers.html' %}
        </div>
        <div class="tab-pane fade" id="table-userfriendlyraces" aria-labelledby="table-userfriendlyraces-tab">
            {% include 'table-userFriendlyRaces.html' %}
        </div>
        <div class="tab-pane fade" id="table-userfriendlyseries" aria-labelledby="table-userfriendlyseries-tab">
            {% include 'table-userFriendlySeries.html' %}
        </div>

        {% if current_user.is_authenticated %}
        <div class="tab-pane fade" id="table-admin" aria-labelledby="table-admin-tab">
            {% include 'table-admin.html' %}
        </div>
        <div class="tab-pane fade" id="table-email" aria-labelledby="table-email-tab">
            {% include 'table-email.html' %}
        </div>
        <div class="tab-pane fade" id="table-race" aria-labelledby="table-race-tab">
            {% include 'table-race.html' %}
        </div>
        <div class="tab-pane fade" id="table-series" aria-labelledby="table-series-tab">
            {% include 'table-series.html' %}
        </div>
        <div class="tab-pane fade" id="table-racer" aria-labelledby="table-racer-tab">
            {% include 'table-racer.html' %}
        </div>
        <div class="tab-pane fade" id="table-result" aria-labelledby="table-result-tab">
            {% include 'table-result.html' %}
        </div>
        {% endif %}
    </div>
</div>