<table class="table table-sm table-bordered table-hover"
       data-toggle="table" data-pagination="true"
       data-search="true">

       <caption>Reporter Table (raw)</caption>

       <thead class="thead-dark">
           <tr>
               <th>id</th>
               <th>name</th>
           </tr>
       </thead>
       <tbody>
           {% for reporter in reporters %}
                <tr>
                    <th>{{ reporter.id }}</th>
                    <td>{{ reporter.name }}</td>
                </tr>
           {% endfor %}
       </tbody>

</table>